body {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  background-color: #034f84;
}

button {
  width: 15%;
  margin: auto;
}

.card {
  border: 2px solid black;
  width: 100px;
  height: 100px;
  background-color: #92a8d1;
  border-radius: 5%;
}

#grid {
  display: grid;
  grid-template-rows: 125px 125px 125px;
  grid-template-columns: 125px 125px 125px 125px;
  margin: auto;
}

h1 {
  color: white;
  font-family: sans-serif;
}
h2 {
  color: white;
  font-family: sans-serif;
}
